{
  "API": "",
  "CaseCode": false,
  "Dependencies": [
    {
      "URL": "https://github.com/the-carlisle-group/Rumba",
      "Version": "0.1.11"
    },
    {
      "Alias": "A",
      "Inject": 2,
      "URL": "https://github.com/the-carlisle-group/Abacus",
      "Version": "0.0.7"
    }
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": false,
  "OnApplicationStartup": "",
  "OnBuild": "",
  "OnSave": "",
  "ProjectSpace": "#.Exigo",
  "StartUp": "",
  "URL": "https://github.com/the-carlisle-group/Exigo",
  "Version": "0.0.0"
}
